.login .container {
    display: block;
    width: 100%;
	height: 100%;
	max-width: 450px;
	margin: 0 auto;
	padding: 20px;
    padding-top: 30px;
}

.login__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.login__text{
    display: block;
    margin-bottom: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

.login__title--size{
    font-size: 36px;
}

.login__box {
    display: block;
    width: 100%;
    max-width: 400px;
    /* padding: 10px; */
    background: transparent;
    border-radius: 8px;
}

.login__form__box{
    margin-bottom: 50px;
    padding: 40px;
    padding-bottom: 20px;
    background: #ffffff;
    border-radius: 25px;
}

.login__input__box {
    position: relative;
    display: block;
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.login__phone__input {
    display: block;
    width: 100%;
    max-width: 340px;
    padding: 12px 16px;
    background: rgba(128, 128, 128, 0.2);
    border: none;
    border-radius: 6px;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* color: #0000; */
}

.login__phone_label {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    cursor: text;
    transition: 0.5s;
}

.login__phone__input:valid ~ .login__phone_label,
.login__phone__input:focus ~ .login__phone_label {
    padding: 0px 10px;
    font-size: 0.8rem;
    background: #0496ff;
    border-radius: 8px;
    transform: translateX(10px) translateY(-20px);
    letter-spacing: 0.2em;
    color: #ffffff;
}

.login__phone__input:focus,
.login__phone__input:valid {
    background: transparent;
    border: 2px solid #0496ff;
}

.login__btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    /* margin-bottom: 0px; */
    padding: 10px 24px;
    background: #0496ff;
    border-radius: 8px;
    border: 3px solid #0496ff;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.login__btn:focus{
    border: 3px solid #0496ff;
    color: #0496ff;
    background: #ffffff;
}

.close{
    display: none;
}

.image_check{
    display: block;
    margin: 0 auto;
}

.login__link{
    display: block;
    margin-bottom: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: end;
}

.login__span{
    color: #0496ff;
    cursor: pointer;
}