@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: #0A2647;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1340px !important;
    height: 100%;
    margin: 0 auto !important;
}

main {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 20px;
}
